* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.video-viewport-container {
  list-style: none;
  min-height: 300px;
  width: 75%;
  margin: auto auto 20px auto;
  padding: 0 25px;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.video-viewport-container.active {
  box-shadow: 3px 3px 12px 1px rgba(0, 128, 1, 0.86);
}
